.App {
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: 50px;
  margin: 50px;
}

button {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: large;
  background-color: white;
  transition: all .15s;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: lightblue;
}

/* Challenge 6 */
.hundredHeading {
  height: 50px;
  transition: all .25s;
  overflow: hidden;
  user-select: none;
}

.hundredHeading:hover {
  transform: scale(150%);
  cursor:pointer;
}

.hundredHeading:active {
  transform: scale(120%);
  filter:hue-rotate(180deg)
}