.App {
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: 50px;
  margin: 50px;
}

button {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: large;
  background-color: white;
  transition: all .15s;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: lightblue;
}